.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    max-width: 300px;
    border-radius: 4px;
    min-height: 200px;
}

.signup-form input {
    width: 100%;
}

.form-container {
    min-height: 100vh; /* minimum height = screen height */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.register-button {
    background-color: #00ADEF;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
}

.register-image{
    max-height: 200px;
}

input {
    border-style: solid;
    border-radius: 3px;
    margin: 5px;
    padding: 7px;
}